body{
	background-color: #add8e6;
}

input[type=text], input[type=password], input[type=email]{
	width: 100%;
	padding: 10px 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type=button], input[type=submit], input[type=reset]{
	padding: 10px 20px;
	background-color: #003EFF;
	cursor: pointer;
}

h1{
	font-size: 48px;
}

.form-center{
	text-align: center;
	width: 40%;
	margin-left: 30%;
}

.board-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}

.board-list li{
	float: left;
	border: 1px solid white;
	background-color: #228B22;
	padding: 14px 16px;
	margin: 10px 20px;
}

.board-list li a{
	text-decoration: none;
	text-align: center;
	color: black;
	display: inline-block;
}

.board-list li:last-child {
    background-color: #C0C0C0;
}

.sidebar-left{
	width: 30%;
}

.sidebar-right{
	width: 30%;
	margin-left: 70%;
}






