<% include header %>
	
		<div class = "form-center">
			<h1>Create an account</h1>
			<hr>
			<form id="create-account-form">
				Username: <br>
				<input type="text" id="create-user" name="username" required><br>
				Email: <br>
				<input type="email" id="create-email" name="email" required><br>
				Password: <br>
				<input type="password" id="create-password" name="password" required><br>
				Confirm Password: <br>
				<input type="password" id="create-confirm-password" name="confirmpassword" required><br>
				<input type="submit" value="Submit">
			</form>
		</div>
		
		<div class = "form-center">
			<h1>Login</h1>
			<hr>
			<form id="login-form">
				Username: <br>
				<input type="text" id="login-user" name="username" required><br>
				Password: <br>
				<input type="password" id="login-password" name="password" required><br>
				Confirm Password: <br>
				<input type="password" id="login-confirm-password" name="confirmpassword" required><br>
				<input type="submit" value="Submit">
			</form>
		</div>
	<script src="javascripts/PrelloLogin.js"></script> 
		
<% include footer %>