<% include header %>
<% include navBar %>	
	<div>
		<h2>Boards</h2>
		<ul class="board-collection">
		</ul>
	</div>
	
	<script src="/javascripts/PrelloLoadBoards.js"></script>
	<script src="/javascripts/PrelloManageBoards.js"></script>
<% include footer %>