<% include header %>
<% include navBar %>	
		<div>
			<h2>Personal Boards</h2>
			<ul class = "board-list">
				<li><a href="#">Bread Board</a></li>
				<li><a href="#">Surf Board</a></li>
				<li><a href="#">Create a new board</a></li>
			</ul>
		</div>
		<div>
		<h2>Work</h2>
			<ul class = "board-list">
				<li><a href="#">Drawing Board</a></li>
				<li><a href="#">Create a new board</a></li>
			</ul>
		</div>
<% include footer %>