<% include header %>
<h1><%= error %></h1>
<form id ="resetPassword" action="/users/resetPasswordHome" method="post">
    <input type="text" name="email" placeholder = "Email..." required>
    <input type="submit" value="Submit">
</form>

<% include footer %>