<% include header %>

<div class="link-button">
    <form action= <%= customUserLink %> method="post">
        <input type="text" name="email" value= <%= email %> >
        <input type="submit" value="Click here to reset password">
    </form>
</div>

<% include footer %>