body{
	background-color: #add8e6;
	font-size: 14px;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}

input[type=text], input[type=password], 
input[type=email], textarea{
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type=button], input[type=submit], input[type=reset]{
	padding: 10px 20px;
	cursor: pointer;
}

.outer-list a {
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
	border: none;
}

.outer-list button:hover{
	background-color: #d3d3d3;
}

.form-center{
	text-align: center;
	width: 40%;
	margin-left: 30%;
}

/* Board stuff */
.board-collection {
    list-style-type: none;
    margin: 0;
    padding: 0;
	/* overflow: hidden; */
}

.board-collection li{
	/*! float: left; */
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 200px;
	height: 60px;
	border: 1px solid white;
	background-color: #228B22;
	/* padding: 14px 16px; */
	margin: 10px 10px;
}

.board-collection li a:hover{
	background-color: #7fff7f;
}

.board-collection li a {
	text-decoration: none;
	text-align: center;
	color: black;
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 20px 0;
	/* vertical-align: middle; */
}

.board-collection li:last-child {
    background-color: #C0C0C0;
}

.add-new-board-form{
	display:none;
}

.add-new-board-form-text {
    height: 100%;
    width: 100%;
}

body{
  overflow: scroll;
  white-space: nowrap;
  margin: 0;
  margin-top: 50px;
}

#nav-bar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	margin: 0;
	background-color: #026AA7;
}

#nav-bar a{
	text-decoration: none;
	color: white;
	text-align: center;
	/*! height: 100%; */
}

#nav-bar div {
  padding: 10px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.outer-list > li{
    display: inline-block;
    margin: 0 5px;
    padding: 20px 5px;
    vertical-align: top;
    background: #E2E4E6;
	width: 20%;
}

.outer-list > li:first-child{
	margin-left: 0;
}

.outer-list button{
	border: none;
	width: 100%;
	padding: 10px 10px;
	text-align: left;
}

.outer-list > button:hover{
	background-color: #A9A9A9;
}

.inner-list {
    width: 100%;    
	white-space: normal;
}

.inner-list li{
    width: 100%;
    display: block;
    margin: 5px 0;
	position: relative;
}

.inner-list li a{
    text-decoration: none;
}

.justify-div-content{
  display: flex;
	justify-content: space-between;
  vertical-align: middle;
	align-items: center;
}

.label{
  height: 20px;
  padding: 5px 5px;
  border-radius: 3px;
}

.lightblue{
  background-color: lightblue;
}

.pink{
  background-color: pink;
}

.material-icons{
  color: #A9A9A9;
}

#options a{
	text-decoration: none;
	margin: 8px 8px;
	color: black;
	width: 100%;
}

#options a:hover{
	color: white;
	background-color: black;
}

#options, #board{
	border: 1px solid black;
	background-color: white;
	display: block;
}

#options{
	display: none;
	color: black;
	position: fixed;
	top: 50px;
	right: 0;
	z-index: 1;
}

#board{
	display: none;
	color: black;
	position: fixed;
	top: 50px;
	left: 0;
	z-index: 1;
}

/*Replaced in PrelloNavBar.js*/
/*
#options-button:hover #options{
	display: block;
}

#boards-button:hover #board{ 
	display: block;
}
*/




.user-and-label{
	position: relative;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.user-and-label > h3{
  margin-top: 0; 
}

.card {
	/* max-width: 50%; */
	/* margin-left: 25%; */
	position: relative;
	padding: 10px 10px;
	white-space: initial;
	border-radius: 8px;
	color: rgb(77, 77, 77);
	overflow: auto;  /*To display the background color*/
	background-color: rgb(237, 239, 240);
	box-sizing: border-box;
}

.card input{
	background-color: white;
}

.card-content{
	max-width: 70%;
	float: left;
}

.card-sidebar{
  max-width: 25%;
  float: right;
  margin-top: 60px;
}

#card-description{
	clear: both;
}

.card-sidebar button{
  width: 100%;
  border: 1px solid rgb(205, 210, 212);
  background-color: #fff;
  padding: 8px 5px;
  margin: 2px; 
  border-radius: 4px;
}

.card-sidebar button:hover{
  background: #298FCA;
  border-color: #298FCA #298FCA #026AA7;
}

.add-card-button{
	background-color: #A9A9A9;
}

#empty-card{
	max-width:100%;
	margin: 0;
}



/* New list form ----------------------------------------- */
.modal  {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%;
	margin-left: 25%;
	overflow: scroll;
}

.close{
	padding: 10px;
	font-size: 24px;
	vertical-align: middle;
}

.close-modal, .close-labels {
	position: absolute;
	top: 10px; /* top and right matches padding of .card */
	right: 10px;
}

.close:hover, .close:focus{
	color: #000;
}

.close-board {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    padding-right: 5px;
    z-index: 1;
}

.close.del-card {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}


#add-list-form{
	display: none;
}



/* add labels ----------------------------------------- */
#add-labels-button:hover {
	color: #808080;
}

.select-color-view{
	background-color: #FFF;
	position: absolute;
	/* top: 0; */
	left: 0;
	z-index: 1;
	display: none;
	padding: 10px;
}

.select-color-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 200px;
}

.select-color-label-big{
	border: 1px solid black;
	width: 100%;
	height: 30px;
	margin: 5px 0;
	border-radius: 5px;
}

.display-labels-div{
	width: 100%;
}

.display-labels{ /*list view*/
	display: inline-block;
	height: 10px;
	width: 50px;
	border: 1px solid black;
	border-radius: 3px;
	margin: 5px;
}

.display-labels-card{ /*card view*/
	display: inline-block;
	width: 40px;
	height: 30px;
	border-radius: 8px;
	margin: 5px;
}

.material-icons{
	vertical-align: middle;
}

.select-color-label-big .material-icons{
	display: none;
	float: right;
	color: #000;
}


/* comment section ----------------------------------------- */
#comment-container{
	margin-top: 20px;
}

.comment-data{
  color: #808080;
  font-size: 12px;
  margin-left: 20%;
}

.comment-content{
  border: 1px solid #808080;
  display: inline-block;
  padding: 5px;
  background-color: #FFF;
  border-radius: 5px;
}


/* reset password ------------------------------------------------------ */
#resetPassword {
	width: 300px;
	margin: 0 auto;
	/* vertical-align: middle; */
}

.link-button {
	text-align: center;
	width: 300px;
	height: 100px;
	margin: 100px auto;
	border-radius: 4px;
}

.link-button > a {
	background-color: #2c802e;
	box-sizing: border-box;
	display: inline-block;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
	padding: 40px 0;
}

.link-button > a:hover {
	background-color: #62ee68;
}





